<app-navbar></app-navbar>
<div class="row">
    <div class="col-md-2">
        <app-side-bar></app-side-bar>
    </div>
    <div class="col-md-10">

        <div class="height-100 bg-light ">

            <div class="row bg-light shadow  mb-3 rounded">
                <div class="d-flex flex-row p-3">
                    <div>
                        <h5><b>Patients</b></h5>
                    </div>
                    <div class=" px-5">Total Number of Patients - {{patientCount}}</div>
                    <div class=" px-5">Total Number of Active Patients - </div>
                </div>
            </div>

            <div class="row">
                <table class="table">
                    <thead class="bg-dark">
                        <tr class="th_row text-light">
                            <th class="font-13 border-0 min-150">
                                ID
                            </th>
                            <th class="font-13 border-0 min-150">
                                Name
                            </th>
                            <th class="font-13 border-0 min-150">
                                Address
                            </th>
                            <th class="font-13 border-0 min-150">
                                Gender
                            </th>
                            <th class="font-13 border-0 min-100">
                                Date of Birth
                            </th>
                            <th class="font-13 border-0 min-150">
                                Number
                            </th>
                            <th class="font-13 border-0 min-150">
                                Email
                            </th>
                            <!-- <th class="font-13 border-0 min-150">
                                Status
                            </th> -->
                        </tr>
                    </thead>
                    <tbody class="tr_hover">
                        <tr *ngFor="let patient of patientList">
                            <td class="font-13 text-black-50 pointer">
                                {{patient.id}}
                            </td>
                            <td class="font-13 text-black-50 pointer">
                                <a style="  color: inherit;" href="">
                                    {{patient.name}}
                                </a>
                            </td>
                            <td class="font-13 text-black-50 pointer">
                                {{patient.address}}
                            </td>
                            <td class="font-13 text-black-50 pointer">
                                {{patient.gender}}
                            </td>
                            <td class="font-13 text-black-50 pointer">
                                {{patient.dob}}
                            </td>
                            <td class="font-13 text-black-50 pointer">
                                {{patient.phone}}
                            </td>
                            <td class="font-13 text-black-50 pointer">
                                {{patient.email}}
                            </td>

                            <!-- <td class="font-13 pointer text-success">
                                <i class="fa fa-circle pe-2 font-11"></i>
                                Active
                            </td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>