<app-navbar></app-navbar>

<section class="page-title bg-1">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block text-center">
                    <span class="text-white">Book your Seat</span>
                    <h1 class="text-capitalize mb-5 text-lg"><b>Appoinment</b></h1>

                   
                </div>
            </div>
        </div>
    </div>
</section><br>

<section class="appoinment section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="mt-3">
                    <div class="feature-icon mb-3">
                        <i class="icofont-support text-lg"></i>
                    </div>
                    <span class="h3">Call for an Emergency Service!</span>
                    <h2 class="text-color mt-3"><b>+91 994-6649-401 </b></h2>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="appoinment-wrap mt-5 mt-lg-0 pl-lg-5">
                    <h2 class="mb-2 title-color"><b>Book an appoinment</b></h2>
                    <p class="mb-4">Mollitia dicta commodi est recusandae iste, natus eum asperiores corrupti qui velit
                        . Iste dolorum atque similique praesentium soluta.</p>
                    <form class="appoinment-form" #appointmentForm="ngForm" (ngSubmit)="onSubmit(appointmentForm.value)">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group m-2">
                                    <select class="form-select" aria-label="default" (change)="onChange($event)" ngModel name="department">
                                        <option value="default" selected>default</option>
                                        <option *ngFor="let department of departmentList" value="{{department.id}}">{{department.name}}</option> 
                                        <!-- <option *ngFor="let department of departmentList" [value]="parseInt(department.id)">{{department.name}}</option>  -->

                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group m-2">
                                    <select class="form-select" ngModel name="doctor">
                                        <option>Select Doctors</option>
                                        <option *ngFor="let doctor of doctorList" value="{{doctor.id}}">{{doctor.name}}</option>
                                        <!-- <option *ngFor="let doctor of doctorList" [value]="parseInt(doctor.id)">{{doctor.name}}</option> -->
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group m-2">
                                    <input type="date" class="form-control"
                                        placeholder="dd/mm/yyyy" ngModel name="appointment_date">
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group m-2">
                                    <input type="time" class="form-control" placeholder="Time" ngModel name="appointment_time">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group m-2">
                                    <input type="text" class="form-control"
                                        placeholder="Full Name" ngModel name="name">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group m-2">
                                    <input type="text" class="form-control"
                                        placeholder="Place" ngModel name="place">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group m-2">
                                    <input type="email" class="form-control"
                                        placeholder="Email" ngModel name="email">
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group m-2">
                                    <input type="number" class="form-control"
                                        placeholder="Phone Number" ngModel name="phone">
                                </div>
                            </div>
                        </div>
                        <div class="form-group-2 m-2 mb-4">
                            <textarea class="form-control" rows="6"
                                placeholder="Your Message" ngModel name="message"></textarea>
                        </div>

                        <button type="submit" class="btn btn-main btn-round-full m-2" (click)=" pay()">
                            <!-- <i class="icofont-simple-right ml-2"></i> -->
                            Make Appoinment</button> 
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>