<app-navbar></app-navbar>


<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">

    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
        <div class="row gx-lg-5 align-items-center mb-5">
            <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                    The best offer <br />
                    <span style="color: hsl(218, 81%, 75%)">for your HealthCare</span>
                </h1>
                <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Temporibus, expedita iusto veniam atque, magni tempora mollitia
                    dolorum consequatur nulla, neque debitis eos reprehenderit quasi
                    ab ipsum nisi dolorem modi. Quos?
                </p>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

                <div class="card bg-glass">
                    <div class="card-body px-4 py-5 px-md-5">
                        <form [formGroup]="patientForm" (ngSubmit)="onSubmit()" >
                            <div class="d-flex align-items-center mb-3 pb-1">
                                <span class="h1 fw-bold mb-0">Patient registration</span>
                            </div>

                            <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign up your
                                account</h5>
                            <!-- name input -->
                            <div class="form-group mb-4">
                                <label class="form-label" for="form3Example3">Name</label>
                                <input type="text" class="form-control" formControlName="name" />
                                <div
                                    *ngIf="patientForm.get('name')?.invalid && (patientForm.get('name')?.dirty || patientForm.get('name')?.touched)">
                                    <div *ngIf="patientForm.get('name')?.hasError('required')">Current Password is
                                        required</div>
                                </div>
                            </div>


                            <!--Address  input -->
                            <div class="form-group mb-4">
                                <label class="form-label" for="form3Example3">Address</label>
                                <input type="text" class="form-control" formControlName="address" />
                                <div
                                    *ngIf="patientForm.get('address')?.invalid && (patientForm.get('address')?.dirty || patientForm.get('address')?.touched)">
                                    <div *ngIf="patientForm.get('address')?.hasError('required')">Current Password is
                                        required</div>
                                    <div *ngIf="patientForm.get('address')?.hasError('minlength')">Current Password
                                        should be minimum 8 characters</div>
                                </div>
                            </div>

                            <!-- Email input -->
                            <div class="form-group mb-4">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label class="form-label" for="form3Example9">Gender</label>
                                    </div>
                                    <div class="col-md-10">

                                        <div class="form-check">
                                            <input type="radio" formControlName="gender" value="male">
                                            <label class="form-check-label" for="male">
                                                Male
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <input type="radio" formControlName="gender" value="female">
                                            <label class="form-check-label" for="female">
                                                Female
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <input type="radio" formControlName="gender" value="others">
                                            <label class="form-check-label" for="others">
                                                Others
                                            </label>
                                        </div>

                                    </div>
                                </div>
                                <div *ngIf="patientForm.get('gender')?.invalid && (patientForm.get('gender')?.dirty || patientForm.get('gender')?.touched)"
                                    class="text-danger">
                                <!-- <div *ngIf="patientForm.get('gender')?.invalid && (patientForm.get('email')?.dirty || patientForm.get('email')?.touched)"
                                    class="text-danger"> -->
                                    <div *ngIf="patientForm.get('gender')?.hasError('required')">Gender is required
                                    </div>
                                </div>

                            </div>


                            <!-- Email input -->
                            <div class="form-group mb-4">
                                <label class="form-label" for="form3Example3">Email</label>
                                <input type="email" class="form-control" formControlName="email" />
                                <div
                                    *ngIf="patientForm.get('email')?.invalid && (patientForm.get('email')?.dirty || patientForm.get('email')?.touched)">
                                    <div *ngIf="patientForm.get('email')?.hasError('required')">Current Password is
                                        required</div>
                                </div>
                            </div>

                            <!-- Phone input -->
                            <div class="form-group mb-4">
                                <label class="form-label" for="form3Example3">Phone</label>
                                <input type="number" class="form-control" formControlName="phone" />
                                <div
                                    *ngIf="patientForm.get('phone')?.invalid && (patientForm.get('phone')?.dirty || patientForm.get('phone')?.touched)">
                                    <div *ngIf="patientForm.get('phone')?.hasError('required')">Current Password is
                                        required</div>
                                </div>
                            </div>

                            <!-- Dob input -->
                            <div class="form-group mb-4">
                                <label class="form-label" for="form3Example3">Dob</label>
                                <input type="date" class="form-control" formControlName="dob" />
                                <div
                                    *ngIf="patientForm.get('dob')?.invalid && (patientForm.get('dob')?.dirty || patientForm.get('dob')?.touched)">
                                    <div *ngIf="patientForm.get('dob')?.hasError('required')">Current Password is
                                        required</div>
                                </div>
                            </div>

                            <!-- Password input -->
                            <div class="form-group mb-4">
                                <label class="form-label" for="form3Example4">Password</label>
                                <input type="password" class="form-control" formControlName="password" />
                                <div
                                    *ngIf="patientForm.get('password')?.invalid && (patientForm.get('password')?.dirty || patientForm.get('password')?.touched)">
                                    <div *ngIf="patientForm.get('password')?.hasError('required')">Current Password is
                                        required</div>
                                </div>
                            </div>

                            <!-- conform input -->
                            <div class="form-group mb-4">
                                <label class="form-label" for="form3Example4">Confirm Password</label>
                                <input type="password" class="form-control" formControlName="confirmPassword" />
                                <div
                                    *ngIf="patientForm.get('confirmPassword')?.invalid && (patientForm.get('confirmPassword')?.dirty || patientForm.get('confirmPassword')?.touched)">
                                    <div *ngIf="patientForm.get('confirmPassword')?.hasError('required')">Current
                                        Password is required</div>
                                </div>
                            </div>


                            <!-- Submit button -->
                            <button type="submit" class="btn btn-danger" [disabled]="!patientForm.valid">Submit</button>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>