<app-navbar></app-navbar>
<div class="row">
    <div class="col-md-2">
        <app-side-bar></app-side-bar>
    </div>
    <div class="col-md-10">


        <div class="row m-4">
            <div class="col-md-10">
                <div class="row" style="margin-top: 7%;">
                    <h5><b>| Change Password</b></h5>
                    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">

                            <label for="exampleInputEmail1">Current Password</label>
                            <input type="text" class="form-control" aria-describedby=""
                                formControlName="currentPassword" name="currentPassword">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">New Password</label>
                            <input type="text" class="form-control" aria-describedby=""
                                formControlName="newPassword" name="newPassword">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">conform Password</label>
                            <input type="text" class="form-control" formControlName="confirmPassword"
                                name="confirmPassword">
                        </div><br>



                        <button type="submit" class="btn btn-danger">Submit</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>