<app-navbar></app-navbar>
<section class="page-title bg-1">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block text-center">
                    <h1 class="text-capitalize mb-5 text-lg"><b>Doctors</b></h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End page-title -->

<!--Section: Doctors-->
<section class="text-center container mt-4">

    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4" *ngFor="let doctor of doctors">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="http://127.0.0.1:8000/{{doctor.profile_img}}"
                        class="img-fluid" style="width: 100%; height: 350px;"/>
                    <a >
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Dr. {{doctor.name}} {{doctor.qualification}}</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                    </p>
                    <a routerLink="/appoinment" class="btn btn-primary">Book Now</a>
                </div>
            </div>
        </div>

    </div>
</section>
<!--Section: Doctors-->
<app-footer></app-footer>