.page-title {
  padding: 60px 0px 30px 0px;
  position: relative;
}

.page-title .block h1 {
  color: #fff;
  z-index: -1;
}

.page-title .block p {
  color: #fff;
}

.page-title .breadcumb-nav {
  margin-top: 60px;
  padding-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.06);
}

.bg-1 {
  background: url("https://resize.indiatvnews.com/en/resize/newbucket/730_-/2021/07/doctor-1625125747.jpg") no-repeat 50% 50%;
  background-size: cover;
  position: relative;
  z-index: -3;
}


.overlay:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  background: #223a66;
  z-index: -2;
}
.cover-img {
  border-radius: 50px 10px;
}

/* card  */
.feature-item {
  flex-basis: 33.33%;
  margin: 0px 10px;
  padding: 40px 30px;
  background-color: #fff;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0px 0px 30px 0px rgba(0, 42, 106, 0.1);
}

.feature-item .feature-icon i {
  font-size: 50px;
  color: #223a66;
}

.feature-item h4 {
  color: #223a66;
}

.feature-item p {
  font-size: 14px;
}
