<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Profile</div>
    <div class="page__content shadow p-3 position-relative">
      <!-- <div class="page__content-data position-absolute text-center"> -->
      <div class="page__content-data position-absolute">
        

        <div class="row m-4">
            <div class="col-md-10">
                <div class="row" style="margin-top: 7%;">
                    <h5><b>| Change Password</b></h5>
                    <!-- <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()"> -->
                    <form>

                        <div class="form-group">
                          <label>Current Password</label>
                          <input type="password" class="form-control" formControlName="currentPassword">
                          <!-- <div *ngIf="changePasswordForm.get('currentPassword')?.invalid && (changePasswordForm.get('currentPassword')?.dirty || changePasswordForm.get('currentPassword')?.touched)">
                            <div *ngIf="changePasswordForm.get('currentPassword')?.hasError('required')">Current Password is required</div>
                            <div *ngIf="changePasswordForm.get('currentPassword')?.hasError('minlength')">Current Password should be minimum 8 characters</div>
                          </div> -->
                        </div>
                        <div class="form-group">
                          <label>New Password</label>
                          <input type="text" class="form-control" formControlName="newPassword">
                          <!-- <div *ngIf="changePasswordForm.get('newPassword')?.invalid && (changePasswordForm.get('newPassword')?.dirty || changePasswordForm.get('newPassword')?.touched)">
                            <div *ngIf="changePasswordForm.get('newPassword')?.hasError('required')">New Password is required</div>
                            <div *ngIf="changePasswordForm.get('newPassword')?.hasError('minlength')">New Password should be minimum 8 characters</div>
                          </div> -->
                        </div>
                        <div class="form-group">
                          <label>Confirm Password</label>
                          <input type="text" class="form-control" formControlName="confirmPassword">
                          <!-- <div *ngIf="changePasswordForm.get('confirmPassword')?.invalid && (changePasswordForm.get('confirmPassword')?.dirty || changePasswordForm.get('confirmPassword')?.touched)">
                            <div *ngIf="changePasswordForm.get('confirmPassword')?.hasError('required')">Confirm Password is required</div>
                            <div *ngIf="changePasswordForm.get('confirmPassword')?.hasError('minlength')">Confirm Password should be minimum 8 characters</div>
                          </div> -->
                        </div><br>
                        <!-- <button type="submit" class="btn btn-danger" [disabled]="!changePasswordForm.valid">Submit</button> -->
                        <button type="submit" class="btn btn-danger">Submit</button>

                      </form>
                      
                </div>
            </div>
        </div>

      </div>
    </div>
  </div>