<app-navbar></app-navbar>
<section class="page-title bg-1">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block text-center">
                    <span class="text-white">About Us</span>
                    <h1 class="text-capitalize mb-5 text-lg">About Us</h1>

                    <ul class="list-inline breadcumb-nav">
                        <li class="list-inline-item"><a routerLink="" class="text-white">Home</a></li>
                        <li class="list-inline-item"><span class="text-white">/</span></li>
                        <li class="list-inline-item"><a routerLink="" class="text-white-50">About Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <End Page-title> -->

<!--Section: Doctors-->
<section class="text-center container" style="margin-top: 2%;">
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="https://media.istockphoto.com/id/1166664661/photo/a-medical-worker-shows-the-mechanism-of-health.jpg?s=612x612&w=0&k=20&c=8D9h5fgjR9YM_T1y_L-8z3mthRKqtCpJgOJXzUl_rMk=" class="img-fluid" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">General medicine</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                    </p>
                    <a href="#!" class="btn btn-primary">View more</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="https://www.verywellfamily.com/thmb/7mJfL5W5jpedUJSierto9v8hEVU=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/keeping-baby-healthy-and-happy-1127388843-172ec91135214b389cfedd11bda24e6d.jpg" class="img-fluid" />
                    <a href="#">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Peadiatrics </h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                    </p>
                    <a href="#!" class="btn btn-primary">View more</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="https://www.adventisthealth.org/cms/thumbnails/00/1100x506/images/blog/physical-therapy.jpg" class="img-fluid" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Physical medicine</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                    </p>
                    <a href="#!" class="btn btn-primary">View more</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section: Doctors-->
<app-footer></app-footer>