<app-navbar></app-navbar>
<section class="page-title bg-1">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block text-center">
                    <h1 class="text-capitalize mb-5 text-lg"><b>Departments</b></h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End page-title -->

<!--Section: Doctors-->
<section class="text-center container" style="margin-top: 2%;">
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4" *ngFor="let dept of departments">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="https://media.istockphoto.com/id/1166664661/photo/a-medical-worker-shows-the-mechanism-of-health.jpg?s=612x612&w=0&k=20&c=8D9h5fgjR9YM_T1y_L-8z3mthRKqtCpJgOJXzUl_rMk="
                        class="img-fluid" />
                    <a>
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{dept.name}}</h5>
                    <p class="card-text">
                        {{dept.description}}
                    </p>
                    <a class="btn btn-primary">View more</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section: Doctors-->
<app-footer></app-footer>