<app-navbar></app-navbar>   
<div style="background-color: #eef0e3;">
    <div class="text-dark p-3">
        <h2>About Us</h2>
        <span><strong><a class="text-decoration-none text-dark" href="\home">Home</a></strong> / <span
                class="text-muted">About</span> </span>
    </div>
</div>
<!-- <div class="container"> -->

<div class="row p-3">
    <h3><strong>Count On Us For A Life-Changing Care</strong></h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga earum modi incidunt, sit dignissimos nihil a, ab
        sapiente debitis placeat esse reprehenderit necessitatibus, officia quo expedita doloremque quibusdam porro ex.
    </p>
</div>

<div class="row ">
    <div class="col-md-6">
        <img style="width: 100%;" class="rounded"
            src="https://t3.ftcdn.net/jpg/03/53/52/82/360_F_353528285_u4jqLADC6VDsHB4P3x5VjIc8wohEzi3j.jpg" alt="">
    </div>
    <div class="col-md-6">
        <h2>Vision</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt quae quaerat repellat ratione, magnam illo
            laboriosam aliquam tempore ex autem? Commodi et, mollitia non ad eius incidunt pariatur earum deleniti
            quibusdam aperiam adipisci. Sed error fugit accusamus eaque exercitationem illo temporibus molestiae, autem
            blanditiis rerum corporis dolorem dolores incidunt ullam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, at. amet consectetur adipisicing elit. Sint, at.</p>

        <div class="row">
            <div class="col-md-5">
                <div class="card "> 
                    <div class="card-body">
                        <h5 class="card-title">Mission</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the
                            card's content.
                        </p>
                        <a href="#" class="btn btn-primary">View more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card "> 
                    <div class="card-body">
                        <h5 class="card-title">Goals </h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the
                            card's content.
                        </p>
                        <a href="#" class="btn btn-primary">View more</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- </div> -->
<app-footer></app-footer>