.page-title {
  padding: 120px 0px 70px 0px;
  position: relative;
}

.page-title .block h1 {
  color: #fff;
}

.page-title .block p {
  color: #fff;
}

.page-title .breadcumb-nav {
  margin-top: 60px;
  padding-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.06);
}

.bg-1 {
  background: url("https://media.istockphoto.com/id/949812160/photo/doctor-in-hospital-background-with-copy-space.jpg?s=170667a&w=0&k=20&c=OoA-5KcXJGLmzm1AMD1GnaPrXP5pnkC71By-ixaVRxA=") no-repeat 50% 50%;
  background-size: cover;
  position: relative;
}


.overlay:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  background: #223a66;
}

.cover-img {
  border-radius: 50px 10px;
}