<app-navbar></app-navbar>

<section class="page-title bg-1">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block text-center">
                    <h1 class="text-capitalize mb-5 text-lg"><b>Contact Us</b></h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End page-title -->

<!--Section: Doctors-->
<section class=" mt-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d250436.59730787494!2d75.64599673016922!3d11.256126132743336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba65938563d4747%3A0x32150641ca32ecab!2sKozhikode%2C%20Kerala!5e0!3m2!1sen!2sin!4v1683001027348!5m2!1sen!2sin"
                    class="h-100 w-100" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>

            <div class="col-lg-7">
                <form #openTicket="ngForm" (ngSubmit)="onSubmit(openTicket.value, openTicket)">
                    <div class="form-row">
                        <label for="text">Name</label>
                        <input type="ematextil" class="form-control" ngModel name="name">
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">Address</label>
                        <input type="text" class="form-control" ngModel name="address">
                    </div>
                    <div class="form-group">
                        <label for="inputAddress2">Place</label>
                        <input type="text" class="form-control" ngModel name="place">
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="inputCity">City</label>
                            <input type="text" class="form-control" ngModel name="city">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputState">State</label>
                            <input type="text" class="form-control" ngModel name="state">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="inputCity">Phone</label>
                            <input type="number" class="form-control" ngModel name="phone">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputState">Email</label>
                            <input type="email" class="form-control" ngModel name="email">
                        </div>
                    </div>
                    <div class="form-row mb-3">
                        <label for="text">Message</label>
                        <textarea class="form-control" rows="5" ngModel name="message"></textarea>
                    </div>
                    <!-- <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                                Check me out
                            </label>
                        </div>
                    </div> -->
                    <button type="submit" class="btn btn-main btn-round-full m-2">Generate Ticket</button>
                </form>

            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>