<div class="row" style="z-index: 1; position: sticky; top: 0;">
    <div class="col-md-2 bg-light p-3 px-5">
        <h4>HMS Admin</h4>
    </div>
    <div class="col-md-10 bg-dark">
        <ul class="ul-nav">
            <li><a class="text-light" routerLink="/admin/home">Home</a></li>
            <li><a class="text-light" routerLink="/admin/add-doctor">New Doctor</a></li>
            <li><a class="text-light" routerLink="/admin/add-department">Create Department</a></li>

        </ul>
    </div>
</div>