<mat-nav-list>
    <div class="logo py-4">
        <img src="https://i.pinimg.com/originals/82/34/0b/82340b2b18fe0a458dee71aa2596f8b7.jpg" alt="Company Logo" style="width: 100px; height: 100px;" />
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">APPLICATIONS</h2>

    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/doctor/home">
        <mat-icon></mat-icon> Home
    </a> -->
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/doctor/dashboard">
        <mat-icon></mat-icon> Dashboard
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/doctor/view-patients">
        <mat-icon></mat-icon> Patients
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/doctor/view-appointment">
        <mat-icon></mat-icon> Appointments
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/doctor/add-prescription">
        <mat-icon></mat-icon> Prescription
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/doctor/profile">
        <mat-icon></mat-icon> Profile
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/doctor/view-appointment">
        <mat-icon></mat-icon> Password
    </a>
    
</mat-nav-list>