<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Profile</div>
  <div class="page__content shadow p-3 position-relative">
    <!-- <div class="page__content-data position-absolute text-center"> -->
    <div class="page__content-data position-absolute">
      <h5><b>| Profile</b></h5>
      <table class="table" style="width: 50%">
        <tbody>
          <tr>
            <th scope="row">Name</th>
            <td></td>
          </tr>
          <tr>

            <th scope="row">Email</th>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Job Title</th>
            <td></td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>