<div class="row m-5">
    <h5><b>| Profile</b></h5>
    <table class="table">
        <tbody>
            <tr>
                <th scope="row">Name</th>
                <td></td>
            </tr>
            <tr>
                
                <th scope="row">Email</th>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Phone No</th>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Address</th>
                <td></td>
            </tr>
            
        </tbody>
    </table>

    <!-- <button class="btn btn-danger"><a class="text-white" href="">Edit</a> </button> -->
</div>