<app-navbar></app-navbar>
<div class="row">
    <div class="col-md-2">
        <app-side-bar></app-side-bar>
    </div>
    <div class="col-md-10">

        <div class="row m-5">
            <h5><b>| Profile</b></h5>
            <table class="table" style="width: 50%">
                <tbody>
                    <tr>
                        <th scope="row">Name</th>
                        <td>{{profile.name}}</td>
                    </tr>
                    <tr>

                        <th scope="row">Email</th>
                        <td>{{profile.email}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Job Title</th>
                        <td >{{profile.job_title}}</td>    
                    </tr>

                </tbody>
            </table>
        </div>

    </div>
</div>