<app-navbar></app-navbar>
<div class="row">
    <div class="col-md-2">
        <app-side-bar></app-side-bar>
    </div>
    <div class="col-md-10">
        <div class="card-body p-md-5 text-black">
            <h3 class="mb-5 text-uppercase"><b>Department Registration</b></h3>

            <form #deptData="ngForm" (ngSubmit)="onSubmit(deptData.value)">
                <div class="row">

                    <div class="form-group mb-4">
                        <label class="form-label" for="form3Example1m">Name</label>
                        <input type="text" class="form-control form-control-lg" ngModel name="name" />
                    </div>

                    <div class="form-group mb-4">
                        <label class="form-label" for="form3Example9">Description</label>
                        <textarea class="form-control" ngModel name="description" rows="5"></textarea>
                    </div>

                </div>
                <div class="d-flex justify-content-end pt-3">
                    <button type="submit" class="btn btn-success btn-lg ms-2">Register</button>
                </div>
            </form>

        </div>

    </div>
</div>