<div class="card-body p-md-5 text-black">
    <h3 class="mb-5 text-uppercase"><b>Department Registration</b></h3>

    <form method="POST" id="patientReg_form">
        <div class="row">

            <div class="form-outline mb-4">
                <label class="form-label" for="form3Example1m">Dept No</label>
                <input type="text" id="form3Example1m" class="form-control form-control-lg " name="name" />
            </div>

            <div class="form-outline mb-4">
                <label class="form-label" for="form3Example9">Name</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
            </div>

        </div>    
        <div class="d-flex justify-content-end pt-3">
            <button type="submit" class="btn btn-success btn-lg ms-2">Register</button>
        </div>
    </form>

</div>
