<div class="height-100 bg-light ">

    <div class="row bg-light shadow  mb-3 rounded">
        <div class="d-flex flex-row p-3">
            <div>
                <h5><b>Appointments</b></h5>
            </div>
            <div class=" px-5">Total Number of Appointments - 20</div>
            <div class=" px-5">Total Number of Active Appointments - 3</div>
        </div>
    </div>

    <div class="row">
        <table class="table">
            <thead class="bg-dark">
                <tr class="th_row text-light">
                    <th class="font-13 border-0 min-150">ID</th>
                    <th class="font-13 border-0 min-150">Name</th>
                    <th class="font-13 border-0 min-150">
                        Number
                    </th>
                    <th class="font-13 border-0 min-100">Appointment Date</th>
                    <!-- <th class="font-13 border-0 min-150">
                        Status
                    </th> -->
                </tr>
            </thead>
            <tbody class="tr_hover">
                <!-- ko foreach: subscribersList -->
                <tr>
                    <td class="font-13 text-black-50 pointer">
                        <!-- ko text: username -->32074046400122<!-- /ko -->
                    </td>
                    <td class="font-13 text-black-50 pointer">
                        <a style="  color: inherit;" href="">
                            <!-- ko text: name -->Girish<!-- /ko -->
                        </a>
                    </td>
                    <td class="font-13 text-black-50 pointer">
                        <!-- ko text: mobile_number -->9846537013<!-- /ko -->
                    </td>
                    <td class="font-13 text-black-50 pointer">
                        <!-- ko text: plan_name -->21 Feb 2023<!-- /ko -->
                    </td>

                    <!-- <td class="font-13 pointer text-success">
                        <i class="fa fa-circle pe-2 font-11"></i>
                        Active
                    </td> -->
                </tr>
                <!-- /ko -->
            </tbody>
        </table>
    </div>
</div>